@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #d7e0e2;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
}

.navbar > .links{
  display: flex;
  gap: 20px;
}

.links a{
  color: white;
  text-decoration: none;
}

.homeClass{
  margin-top: 25px;
  text-align: center;
}

.homeClass > input{
  height: 26px;
  width: 220px;
  border-radius: 3px;
  border: 2px solid #ffffff;
  padding-left: 10px;
}

.homeClass > input:focus{
  outline:#000000;
  border: 2px solid blue;
}

.homeClass > button{
  background-color: #000000;
  color: #b9afaf;
  height: 28px;
  padding: 0 12px;
  cursor: pointer;
  border: none;
  border-radius: 0 3px 3px 0;
}

.wordDetails_Class{
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

.wordDetails_Class .word_details{
  padding: 20px;
  box-shadow: 1px 4px 5px 1px rgb(165, 162, 162);
}